<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/SoftwareEngineering/static/img/icon.ico"/>
    <!-- 引入Element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="/SoftwareEngineering/static/css/common.css">
    <!-- 引入本页面样式 -->
    <link rel="stylesheet" href="/SoftwareEngineering/static/css/student/sIndex.css">
    <!-- 引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入Element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="icon" type="image/x-icon" href="../../static/img/icon.ico"/>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../static/css/common.css">
    <!-- 引入本页面样式 -->
    <link rel="stylesheet" href="../../static/css/student/sIndex.css">
    <!--  引入Fullcalendar样式  -->
    <link rel="stylesheet" href="../../static/util/fullcalendar/main.css">
    <title>学生导航页</title>
</head>

<body>

<div id="box" v-cloak>

    <!-- 修改用户信息的弹窗开始 -->
    <el-dialog title="修改个人信息" :visible.sync="userDialogFormVisible">
        <el-container>
            <el-form :model="userChange" inline>
                <el-form-item label="姓名：" :label-width="formLabelWidth">
                    <el-input disabled v-model="userChange.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别：" :label-width="formLabelWidth">
                    <el-input disabled v-model="userChange.sex" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="学号：" :label-width="formLabelWidth">
                    <el-input disabled v-model="userChange.studentNumber" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="邮箱：" :label-width="formLabelWidth">
                    <el-input v-model="userChange.email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话号码：" :label-width="formLabelWidth">
                    <el-input v-model="userChange.phoneNumber" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
        </el-container>
        <div slot="footer" class="dialog-footer">
            <el-button @click="switchUserDialogStatus">取 消</el-button>
            <el-button type="primary" @click="changeUserInfo">提 交</el-button>
        </div>
    </el-dialog>
    <!-- 修改用户信息的弹窗结束 -->

    <!-- 验证码的弹窗开始 -->
    <el-dialog title="重置密码" :visible.sync="verifyFromVisible" width="40%" :modal="false">
        <el-container>
            <el-form :model="verificationCode" inline>
                <el-form-item label="请输入您收到的验证码：" label-width="180px">
                    <el-input v-model="verificationCode" autocomplete="off" placeholder="请输入验证码"></el-input>
                </el-form-item>
            </el-form>
        </el-container>
        <div slot="footer" class="dialog-footer">
            <el-button @click="verifyFromVisible=false">取 消</el-button>
            <el-button type="primary" @click="verify">确 认</el-button>
        </div>
    </el-dialog>
    <!-- 验证码的弹窗结束 -->

    <!-- 修改密码的弹窗开始 -->
    <el-dialog title="重置密码" :visible.sync="passwordFormVisible" width="40%" :modal="false">
        <el-container>
            <el-form :model="password" inline>
                <el-form-item label="旧密码：" :label-width="formLabelWidth">
                    <el-input v-model="password.originPassword" autocomplete="off" placeholder="请输入旧密码"></el-input>
                </el-form-item>
                <el-form-item label="新密码：" :label-width="formLabelWidth">
                    <el-input v-model="password.newPassword" autocomplete="off" placeholder="请输入新密码"></el-input>
                </el-form-item>
            </el-form>
        </el-container>
        <div slot="footer" class="dialog-footer">
            <el-button @click="passwordFormVisible=false">取 消</el-button>
            <el-button type="primary" @click="resetPassword">提 交</el-button>
        </div>
    </el-dialog>
    <!-- 修改密码的弹窗结束 -->

    <div id="mainbox">

        <div id="header">
            <img id="logoimg" src="../../static/img/logo2.png">
            <h3 id="logotitle">济实-实验教学管理系统</h3>
            <div id="welcomeBox">
                <h4 id="welcomeTitle">你好！</h4>
                <el-button type="text" @click="drawerVisible=true">{{user.name}} ({{user.studentNumber}})</el-button>
            </div>
        </div>

        <div id="containerbox">
            <el-container>
                <el-aside width="200px">

                    <!-- 用户信息界面的抽屉开始 -->
                    <div id="drawerBox">
                        <el-drawer style="float: left ;" title="个人信息" :visible.sync="drawerVisible"
                                   :direction="drawerDirection" :before-close="handleCloseDrawer" size="35%">
                            <div id="descriptionBox">
                                <el-descriptions class="margin-top" title="学生" :column="2" border>
                                    <template slot="extra">
                                        <el-button type="danger" size="small" @click="changePassword">重置密码
                                        </el-button>
                                        <el-button type="primary" size="small" @click="switchUserDialogStatus">修改个人信息
                                        </el-button>
                                    </template>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-user"></i>
                                            姓名
                                        </template>
                                        {{user.name}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-guide"></i>
                                            性别
                                        </template>
                                        {{user.sex}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-collection-tag"></i>
                                            学号
                                        </template>
                                        {{user.studentNumber}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-mobile-phone"></i>
                                            电话号码
                                        </template>
                                        {{user.phoneNumber}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-message"></i>
                                            邮箱
                                        </template>
                                        {{user.email}}
                                    </el-descriptions-item>
                                </el-descriptions>
                            </div>
                        </el-drawer>
                    </div>
                    <!-- 用户信息界面的抽屉结束 -->

                    <!-- 课程信息的抽屉开始 -->
                    <div id="drawerBoxCourse">
                        <el-drawer
                                :visible.sync="drawerCourse"
                                size="20%"
                                :direction="drawerDirectionCourse">
                            <template slot="title">
                                <h1>我的课程</h1>
                            </template>
                            <template v-for="item in courseList">
                                <el-row>
                                    <el-col :span="6" :offset="3">
                                        <div class="grid-content bg-purple" style="width: 230px;">
                                            <el-button type="text"
                                                       @click="loadCourseInformation(item.courseID,item.title,item.classID)">
                                                <h3>
                                                    {{item.title}}</h3></el-button>
                                            <div style="position: relative;width: 200px;height: 25px;line-height: 25px">
                                                <h5 style="display: inline-block;position: absolute;left: 0px;padding-left: 15px">
                                                    课程编号：</h5>
                                                <span style="float: left;position: absolute;left: 75px;font-size: small">{{item.courseID}}</span>
                                            </div>
                                            <div style="position: relative;width: 200px;height: 25px;line-height: 25px">
                                                <h5 style="display: inline-block;position: absolute;left: 0px;padding-left: 15px">
                                                    班级号：</h5>
                                                <span style="float: left;position: absolute;left: 75px;font-size: small">{{item.classID}}</span>
                                            </div>
                                            <div style="position: relative;width: 200px;height: 25px;line-height: 25px">
                                                <h5 style="display: inline-block;position: absolute;left: 0px;padding-left: 15px">
                                                    上课时间：</h5>
                                                <span style="float: left;position: absolute;left: 75px;font-size: small">{{item.day}}{{item.time}}</span>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-drawer>
                    </div>
                    <!-- 课程信息的抽屉结束 -->

                    <!-- 侧边导航栏开始 -->
                    <div id="asideBox">
                        <el-row class="tac">
                            <el-col :span="24">
                                <el-menu :default-active="defaultActive" class="el-menu-vertical-demo"
                                         @open="handleOpenNavMenu"
                                         @close="handleCloseNavMenu" @select="selectMenuItem" ref="navMenu"
                                         background-color="#545c64"
                                         text-color="#fff"
                                         active-text-color="#ffd04b">

                                    <!-- 用户头像开始 -->
                                    <div id="avatarBlock">
                                        <el-avatar shape="square" :size="50" :src="squareUrl"></el-avatar>
                                    </div>
                                    <!-- 用户头像结束 -->

                                    <!-- 导航1开始 -->
                                    <el-menu-item index="1">
                                        <i class="el-icon-date"></i>
                                        <span slot="title" id="calenderManage">日程表</span>
                                    </el-menu-item>
                                    <!-- 导航1结束 -->

                                    <!-- 导航2开始 -->
                                    <el-menu-item index="2">
                                        <i class="el-icon-reading"></i>
                                        <span slot="title" id="courseManage">我的课程</span>
                                    </el-menu-item>
                                    <!-- 导航2结束 -->

                                    <!-- 导航3开始 -->
                                    <el-menu-item index="3">
                                        <i class="el-icon-chat-dot-round"></i>
                                        <span slot="title">消息</span>
                                    </el-menu-item>
                                    <!-- 导航4结束 -->

                                </el-menu>
                            </el-col>
                        </el-row>
                    </div>
                    <!-- 侧边导航栏结束 -->
                </el-aside>
                <!-- 主显示区开始 -->
                <el-main>
                    <div id="reject">
                        <!--                        <keep-alive>-->
                        <component :is="changeComponents"
                                   :course-id="courseID"
                                   :class-id="classID"
                                   :course-name="title"
                                   :duty="duty"
                                   :student-number="user.studentNumber"
                                   :notice-list="noticeList"
                                   @go-back="goBack"></component>
                        <!--                        </keep-alive>-->
                    </div>
                </el-main>
                <!-- 主显示区结束 -->
            </el-container>
        </div>
    </div>
</div>
<!-- 引入axios -->
<script src="https://www.jq22.com/jquery/echarts-4.2.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/SoftwareEngineering/static/util/fullcalendar/main.js"></script>
<script src="/SoftwareEngineering/static/js/teacher/subComponents/experimentalReport.js"></script>
<script src="/SoftwareEngineering/static/js/teacher/subComponents/epReportDetail.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/sExperiment.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/sAttendance.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/sClassInfo.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/grade.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/sEpReportDetail.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/sExperimentalReport.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/fileDownLoad.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/noticeDetail.js"></script>
<script src="/SoftwareEngineering/static/js/student/subComponents/notice.js"></script>
<script src="/SoftwareEngineering/static/js/student/course.js"></script>
<script src="/SoftwareEngineering/static/js/calender.js"></script>
<script src="../../static/js/student/sIndex.js"></script>
</body>

</html>