<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="../../static/img/icon.ico"/>
    <!-- 引入公共样式 -->
    <link rel="stylesheet" href="../../static/css/common.css">
    <!-- 引入本页面样式 -->
    <link rel="stylesheet" href="../../static/css/teacher/tIndex.css">

    <!--    <link rel="icon" type="image/x-icon" href="/SoftwareEngineering/static/img/icon.ico"/>-->
    <!-- 引入Element样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入公共样式 -->
    <!--    <link rel="stylesheet" href="/SoftwareEngineering/static/css/common.css">-->
    <!--    &lt;!&ndash; 引入本页面样式 &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="/SoftwareEngineering/static/css/student/tIndex.css">-->
    <!-- 引入Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- 引入Element组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>教师导航页</title>
</head>
<body>
<div id="box" v-cloak>

    <!-- 修改用户信息的弹窗开始 -->
    <el-dialog title="修改个人信息" :visible.sync="userDialogFormVisible">
        <el-container>
            <el-form :model="userChange" inline>
                <el-form-item label="姓名：" :label-width="formLabelWidth">
                    <el-input disabled v-model="userChange.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别：" :label-width="formLabelWidth">
                    <el-input disabled v-model="userChange.sex" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="工号：" :label-width="formLabelWidth">
                    <el-input disabled v-model="userChange.instructorNumber" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="邮箱：" :label-width="formLabelWidth">
                    <el-input v-model="userChange.email" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话号码：" :label-width="formLabelWidth">
                    <el-input v-model="userChange.phoneNumber" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
        </el-container>
        <div slot="footer" class="dialog-footer">
            <el-button @click="switchUserDialogStatus">取 消</el-button>
            <el-button type="primary" @click="changeUserInfo">提 交</el-button>
        </div>
    </el-dialog>
    <!-- 修改用户信息的弹窗结束 -->

    <!-- 发布新公告的弹窗开始 -->
    <el-dialog title="公告发布" :visible.sync="annoDialogFormVisible">
        <div style="width: 500px">
            <el-form :model="annoForm">
                <el-form-item label="标题" :label-width="formLabelWidth">
                    <el-input v-model="annoForm.title" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="内容" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="annoForm.content" placeholder="请填写此公告内容"></el-input>
                </el-form-item>
            </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="annoDialogFormVisible = false">取消发布</el-button>
            <el-button type="primary" @click="annoDialogFormVisible = false">发 布</el-button>
        </div>
    </el-dialog>
    <!-- 发布新公告的弹窗结束 -->

    <!-- 发布实验的弹窗开始 -->
    <el-dialog title="实验发布" :visible.sync="experimentDialogFormVisible">
        <div style="width: 90%">
            <el-form :model="experimentForm" :rules="rules" ref="experimentForm">
                <el-form-item label="实验项目" prop="title" :label-width="formLabelWidth">
                    <el-input v-model="experimentForm.name"></el-input>
                </el-form-item>
                <el-form-item label="项目描述" required prop="desc" :label-width="formLabelWidth">
                    <el-input type="textarea" v-model="experimentForm.desc"></el-input>
                </el-form-item>
                <el-form-item label="截止日期" required :label-width="formLabelWidth">
                    <el-col :span="11">
                        <el-form-item prop="date1">
                            <el-date-picker type="date" placeholder="选择日期" v-model="experimentForm.date1"
                                            style="width: 100%;"></el-date-picker>
                        </el-form-item>
                    </el-col>
                    <el-col class="line" :span="2">
                        <div style="text-align: center">-</div>
                    </el-col>
                    <el-col :span="11">
                        <el-form-item prop="date2">
                            <el-time-picker placeholder="选择时间" v-model="experimentForm.date2"
                                            style="width: 100%;"></el-time-picker>
                        </el-form-item>
                    </el-col>
                </el-form-item>
                <el-form-item label="发布范围" required prop="region" :label-width="formLabelWidth">
                    <el-select v-model="experimentForm.region" placeholder="请选择发布范围">
                        <el-option label="仅限本班" value="shanghai"></el-option>
                        <el-option label="所有班级" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="相关参考资料" prop="fileList" :label-width="formLabelWidth">
                    <el-upload
                            class="upload-demo"
                            drag
                            action="https://jsonplaceholder.typicode.com/posts/"
                            multiple>
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        <div class="el-upload__tip" slot="tip">只能上传pdf/txt/doc文件，且不超过100Mb</div>
                    </el-upload>
                </el-form-item>
            </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="experimentDialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitExperimentForm('experimentForm')">确 定</el-button>
        </div>
    </el-dialog>
    <!-- 发布实验的弹窗结束 -->

    <!-- 发布新公告的弹窗开始 -->
    <el-dialog title="班级信息" :visible.sync="sectionDialogFormVisible" >
        <div style="width: 90%;margin-left: 5%">
            <el-table
                    :data="sectionInfoList">
                <el-table-column
                        prop="classID"
                        label="班级号">
                </el-table-column>
                <el-table-column
                        prop="sectionDate"
                        label="日期">
                </el-table-column>
                <el-table-column
                        prop="sectionTime"
                        label="时间">
                </el-table-column>
                <el-table-column
                        prop="instructorID"
                        label="教师工号">
                </el-table-column>
                <el-table-column
                        prop="instructorName"
                        label="教师姓名">
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="120">
                    <template slot-scope="scope">
                        <el-button @click="handleClick(scope.row)" plain type="danger" size="small">删除该班级</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @click="sectionDialogFormVisible = false">关 闭</el-button>
            <el-button type="primary" @click="sectionDialogFormVisible = false">新 增 班 级</el-button>
        </div>
    </el-dialog>
    <!-- 发布新公告的弹窗结束 -->

    <div id="mainbox">

        <div id="header">
            <img id="logoimg" src="../../static/img/logo2.png">
            <h3 id="logotitle">济实-实验教学管理系统</h3>
            <div id="welcomeBox">
                <h4 id="welcomeTitle">你好！</h4>
                <el-button type="text" @click="drawerVisible=true">{{user.name}} ({{user.studentNumber}})</el-button>
            </div>
        </div>

        <div id="containerbox">
            <el-container>
                <el-aside width="200px">

                    <!-- 用户信息界面的抽屉开始 -->
                    <div id="drawerBox">
                        <el-drawer style="float: left ;" title="个人信息" :visible.sync="drawerVisible"
                                   :direction="drawerDirection" :before-close="handleCloseDrawer" size="35%">
                            <div id="descriptionBox">
                                <el-descriptions class="margin-top" title="学生" :column="2" border>
                                    <template slot="extra">
                                        <el-button type="primary" size="small" @click="switchUserDialogStatus">修改个人信息
                                        </el-button>
                                    </template>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-user"></i>
                                            姓名
                                        </template>
                                        {{user.name}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-guide"></i>
                                            性别
                                        </template>
                                        {{user.sex}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-collection-tag"></i>
                                            工号
                                        </template>
                                        {{user.instructorNumber}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-mobile-phone"></i>
                                            电话号码
                                        </template>
                                        {{user.phoneNumber}}
                                    </el-descriptions-item>
                                    <el-descriptions-item>
                                        <template slot="label">
                                            <i class="el-icon-message"></i>
                                            邮箱
                                        </template>
                                        {{user.email}}
                                    </el-descriptions-item>
                                </el-descriptions>
                            </div>
                        </el-drawer>
                    </div>
                    <!-- 用户信息界面的抽屉结束 -->

                    <!-- 课程信息的抽屉开始 -->
                    <div id="drawerBoxCourse">
                        <el-drawer
                                :visible.sync="drawerCourse"
                                size="20%"
                                :direction="drawerDirectionCourse">
                            <template slot="title">
                                <h1>我的课程</h1>
                            </template>
                            <template v-for="item in courseList">
                                <el-row>
                                    <el-col :span="6" :offset="3">
                                        <div class="grid-content bg-purple" style="width: 230px;">
                                            <el-button type="text"
                                                       @click="loadCourseInformation(item.courseID,item.title,item.classID)">
                                                <h3>
                                                    {{item.title}}</h3></el-button>
                                            <div class="courseDiv">
                                                <h5 style="display: inline-block;position: absolute;left: 0px;padding-left: 15px">
                                                    课程编号：</h5>
                                                <span class="courseSpan">{{item.courseID}}</span>
                                            </div>
                                            <div class="courseDiv">
                                                <h5 style="display: inline-block;position: absolute;left: 0px;padding-left: 15px">
                                                    职务：</h5>
                                                <span class="courseSpan">{{item.duty}}</span>
                                            </div>
                                            <div class="courseDiv">
                                                <h5 style="display: inline-block;position: absolute;left: 0px;padding-left: 15px">
                                                    执教班级：</h5>
                                                <span class="courseSpan">{{item.classID}}</span>
                                            </div>
                                        </div>
                                    </el-col>
                                </el-row>
                            </template>
                        </el-drawer>
                    </div>
                    <!-- 课程信息的抽屉结束 -->

                    <!-- 侧边导航栏开始 -->
                    <div id="asideBox">
                        <el-row class="tac">
                            <el-col :span="24">
                                <el-menu :default-active="defaultActive" class="el-menu-vertical-demo"
                                         @open="handleOpenNavMenu"
                                         @close="handleCloseNavMenu" @select="selectMenuItem" ref="navMenu"
                                         background-color="#545c64"
                                         text-color="#fff"
                                         active-text-color="#ffd04b">

                                    <!-- 用户头像开始 -->
                                    <div id="avatarBlock">
                                        <el-avatar shape="square" :size="50" :src="squareUrl"></el-avatar>
                                    </div>
                                    <!-- 用户头像结束 -->

                                    <!-- 导航1开始 -->
                                    <el-menu-item index="1">
                                        <i class="el-icon-date"></i>
                                        <span slot="title" id="calenderManage">日程表</span>
                                    </el-menu-item>
                                    <!-- 导航1结束 -->

                                    <!-- 导航2开始 -->
                                    <el-menu-item index="2">
                                        <i class="el-icon-reading"></i>
                                        <span slot="title" id="courseManage">课程教学</span>
                                    </el-menu-item>
                                    <!-- 导航2结束 -->

                                    <!-- 导航3开始 -->
                                    <el-submenu index="3">
                                        <template slot="title">
                                            <i class="el-icon-s-management"></i>
                                            <span>课程管理</span>
                                        </template>
                                        <el-menu-item index="3-1">设立课程</el-menu-item>
                                        <!-- 课程概况中包含目前该老师负责的所有课程信息，包括：课程名、课程ID、课程下所有班级的ID、每个班的任课教师名和工号，责任教师还可以在这里关闭一门课程 -->
                                        <el-menu-item index="3-2">课程概况</el-menu-item>
                                    </el-submenu>
                                    <!-- 导航3结束 -->

                                    <!-- 导航4开始 -->
                                    <el-menu-item index="4">
                                        <i class="el-icon-chat-dot-round"></i>
                                        <span slot="title">消息</span>
                                    </el-menu-item>
                                    <!-- 导航4结束 -->

                                </el-menu>
                            </el-col>
                        </el-row>
                    </div>
                    <!-- 侧边导航栏结束 -->
                </el-aside>

                <!-- 主显示区开始 -->
                <el-main>
                    <div id="reject">
                        <!--                        <keep-alive>-->
                        <component :is="changeComponents" :course-id="courseID" :course-name="title"
                                   :student-number="user.studentNumber"
                                   :notice-list="noticeList"
                                   :course-form="courseForm"
                                   :form-label-width="formLabelWidth"
                                   :course-info-list="courseInfoList"
                                   @get-section-info="getSectionInfo"
                                   @publish-announcement="publishAnnouncement"
                                   @remove-domain="removeDomain"
                                   @release-experiment="releaseExperiment"
                                   @add-experiment="addExperiment"
                                   @go-back="goBack"></component>
                        <!--                        </keep-alive>-->
                    </div>
                </el-main>
                <!-- 主显示区结束 -->
            </el-container>
        </div>
    </div>
</div>
<script src="../../static/js/calender.js"></script>
<script src="../../static/js/teacher/subComponents/courseOverview.js"></script>
<script src="../../static/js/teacher/subComponents/openCourse.js"></script>
<script src="../../static/js/teacher/subComponents/experiment.js"></script>
<script src="../../static/js/teacher/subComponents/experimentalReport.js"></script>
<script src="../../static/js/teacher/subComponents/epReportDetail.js"></script>
<script src="../../static/js/teacher/subComponents/fileDownLoad.js"></script>
<script src="../../static/js/teacher/subComponents/noticeDetail.js"></script>
<script src="../../static/js/teacher/subComponents/notice.js"></script>
<script src="../../static/js/teacher/subComponents/course.js"></script>
<!--    <script src="/SoftwareEngineering/static/js/calender.js"></script>-->
<script src="../../static/js/teacher/tIndex.js"></script>
</body>
</html>