* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    color: #333;
    /* line-height: 60px; */
    width: 100%;
    background-color: #ffff;
    z-index: 999;
    padding-left: 20px;
    height: 60px;
}

.el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
}

body>.el-container {
    margin-top: 50px;
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.is-selected {
    color: #1989FA;
}

#avatarBlock {
    cursor: pointer;
    padding: 20px 0 10px 0;
    line-height: initial;
}

#drawerBox {
    line-height: initial;
}

#descriptionBox {
    padding: 15px;
}

#reject {
    line-height: initial;
}

#asideBox {
    margin-top: 20px;
    height: 683px;
}

#containerbox {
    margin-top: 60px;
}

#logoimg {
    vertical-align: middle;
    margin-top: 5px;
    height: 50px;
}

#logotitle {
    vertical-align: middle;
    margin-left: 10px;
    color: rgb(70, 70, 70);
    font-family: "PingFang SC";
    font-weight: 500;
    display: inline-block;
}

#welcomeBox {
    vertical-align: middle;
    line-height: 60px;
    padding-right: 40px;
    float: right;
}

#welcomeTitle {
    display: inline-block;
}