.courseDiv{
    position: relative;
    width: 200px;
    height: 25px;
    line-height: 25px;
}
.courseSpan{
    float: left;
    position: absolute;
    left: 85px;
    font-size: small;
}

.my-bg{
    color: black;
    min-height: 50px;
    line-height: 50px;
    background-color: #C0C4CC;
    border-radius: 0;
}

.report{
    background: #d3dce6;
    border-radius: 4px;
    min-height: 36px;
}

.new-report{
    background: #d3dce6;
    border-radius: 4px;
    min-height: 36px;
}
.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}

.el-table .warning-row {
    background: oldlace;
}

.el-table .success-row {
    background: #f0f9eb;
}